$white: var(--color-white);
$black: var(--color-black);

$font-open-sans: 'OpenSans, sans-serif';
$font-size: 16px;
$font-color-1: #383838;
$font-color-2: #626262;
$font-color-3: var(--color-dark-gray);

// $primary-color-1: #f6b1b1;
$primary-color-1: #ff0057;
$primary-color-2: #cc0046;
$primary-color-3: #ff3379;
$primary-color-4: #ff669a;
$primary-color-5: #ff99bc;
$primary-color-6: #ffccdd;
$primary-color-7: #ff0057;
$primary-color-8: #ff0556;
$primary-color-9: #dc0048;

$secondary-color-1: #fab100;
$secondary-color-2: #face64;
$secondary-color-3: #faebc8;

$extra-color-1: #0a1e58;
$extra-color-2: #2b448c;
$extra-color-3: #0a31a5;
$extra-color-4: #0a1e58;
$extra-color-5: #0a1e58;

$btn-border-color: #990100;
$btn-color-1: #cbcbcb;
