:root {
    // Colors
    --color-black: #1f1f1f;
    --color-white: #fff;
    --color-gray: #f3f3f2;
    --color-dark-gray: #989898;
    --color-karaka: #242424;

    --content-wrapper-width: 1260px;
}
