:root {
    --header-nav-height: 64px;
    --header--background-color: #f8f8f8;
}

.header {
    &-nav_wrapper {
        width: 100%;
        background-color: var(--header--background-color);

        -webkit-box-shadow: 0px 4px 14px -8px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 4px 14px -8px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 4px 14px -8px rgba(0, 0, 0, 0.2);
    }

    &-nav {
        height: var(--header-nav-height);
        max-width: var(--content-wrapper-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 0 20px;
    }

    &-link_wrapper {
        display: flex;

        @include mobile {
            display: block;
        }

        a.active {
            background-color: $primary-color-1;
            color: $white;
            transition: ease-in-out color 0.25s;
            cursor: auto;
        }

        a:not(.active):hover {
            transition: ease-in-out 0.25s;
            background-color: var(--color-gray);
            color: $primary-color-1;
        }
    }

    &-link_wrapper > a {
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 5px;
    }

    &-shopping_cart {
        background-color: $white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 10px;
        border: 1px solid $primary-color-1;
        cursor: pointer;
        position: relative;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            transform: scale(0.98);
            transition: ease-in-out 0.1s;
        }

        svg {
            path {
                fill: $extra-color-3;
            }
        }
    }

    &-qty {
        position: absolute;
        background-color: $primary-color-1;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        color: $white;
        right: 0;
    }
}
