.container {
    max-width: var(--content-wrapper-width);
    margin: 0 auto;
    min-height: calc(100vh - var(--header-nav-height));
    position: relative;
    padding: 20px 20px 50px;

    p {
        margin-block: 5px;
    }
}
